@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');


/* general styling */
:root {
    --smaller: .75;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
     background-image: url();
    align-items: center;
   /* background: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );*/
    display: flex;
    background-size: cover;
    font-family: 'Cinzel Decorative', cursive;
  }
  
  .container {
    color: rgb(112, 0, 0);
    margin: 0 auto;
    text-align: center;
  }
  
  #headline {
      font-size: 2.5em;
   background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
    display: inline-block;
    /*border: 2px solid red;*/
    font-size: 2.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  
  @media all and (max-width: 768px) {
    #headline {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }

  @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {


    #headline {
        font-size: 2.5em;
      }
      li {
        font-size: 2.5em;
      }
      
      li span {
        font-size: 3.5em;
      }
      


}

@media (max-width:400px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    
    #headline {
        font-size: 1.5em;
      }
      li {
        font-size: 1.5em;
      }
      
      li span {
        font-size: 1..5em;
      }
      


}

      






  
